{% load template_engine %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="assets/ico/favicon.png">
    <title>{{ request.page.meta.title }}</title>



    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="https://s3.amazonaws.com/boardmonkey/production/assets/css/style.css" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/journal/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-r/qnS4YZBLuBSKeVc+sM4eUYUiJMFhkHfx1nwlErHhTd+NgeJlN/NiiTd6jbKJzm" crossorigin="anonymous">
    <!-- styles needed for carousel slider -->
    <link href="https://s3.amazonaws.com/boardmonkey/production/assets/css/owl.carousel.css" rel="stylesheet">
    <link href="https://s3.amazonaws.com/boardmonkey/production/assets/css/owl.theme.css" rel="stylesheet">

    <!--
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/yeti/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-yxFy3Tt84CcGRj9UI7RA25hoUMpUPoFzcdPtK3hBdNgEGnh9FdKgMVM+lbAZTKN2" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/darkly/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-kVo/Eh0sv7ZdiwZK32nRsp1FrDT3sLRLx3zVpSSTI9UdO5H02LJNLBg5F1gwvKg0" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-XYCjB+hFAjSbgf9yKUgbysEjaVLOXhCgATTEBpCqT1R3jvG5LGRAK5ZIyRbH5vpX" crossorigin="anonymous">
 <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/darkly/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-kVo/Eh0sv7ZdiwZK32nRsp1FrDT3sLRLx3zVpSSTI9UdO5H02LJNLBg5F1gwvKg0" crossorigin="anonymous">
-->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/sandstone/bootstrap.min.css" rel="stylesheet" integrity="sha384-QqZs0aSOGFan3GWVdP4PyCBp6icaF/4n8Q+wsmZUTiiVIqE4r4tFYcb8Osf+8y45" crossorigin="anonymous">

    <!--
<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/journal/bootstrap.min.css" rel="stylesheet" integrity="sha384-r/qnS4YZBLuBSKeVc+sM4eUYUiJMFhkHfx1nwlErHhTd+NgeJlN/NiiTd6jbKJzm" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cosmo/bootstrap.min.css" rel="stylesheet" integrity="sha384-OiWEn8WwtH+084y4yW2YhhH6z/qTSecHZuk/eiWtnvLtU+Z8lpDsmhOKkex6YARr" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-fUMURLTdEcpeYHly3PAwggI3l2UvdHNg/I+8LRph7hLDcAZm77YfDx3Tjum9d3vK" crossorigin="anonymous">
-->

    <!-- Just for debugging purposes. -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <!-- include pace script for automatic web page progress bar  -->

    <script>
        paceOptions = {
            elements: true
        };


    </script>

    <style>
        .navbar-default .navbar-nav>li>a {
    color: #ffffff;
    padding: 14px;
    font-weight: 700;
    font-size: 1.15em;
    /* font-family: tahoma; */
}

.navbar-default{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#840800+22,aa1300+76,ff0800+95,ff0800+95 */
background: #840800; /* Old browsers */
background: -moz-linear-gradient(-45deg, #840800 22%, #aa1300 76%, #ff0800 95%, #ff0800 95%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #840800 22%,#aa1300 76%,#ff0800 95%,#ff0800 95%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #840800 22%,#aa1300 76%,#ff0800 95%,#ff0800 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#840800', endColorstr='#ff0800',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
copy

}
    </style>
</head>
<body>

<div id="wrapper" style="">

    <div class="container">
<div class="row" style="padding:15px;">

        <div class="col-md-4">
            <a href="/" class="navbar-brand logo logo-title" style="border:none;">
                <!-- Original Logo will be placed here  -->

                <img src="{{ request.board.logo_url }}" style="max-width:100%;" alt="{{ request.board.title }}">
            </a>
        </div>
    </div>

</div>

        <div class="clear-fix clearfix" style="padding:10px;"> </div>

<div class="header">
    <nav class="navbar   navbar-site2 navbar-default" role="navigation" style=" padding: 7px;">
        <div class="container">
            <div class="navbar-header">
                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span></button>
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-left">


                    <li><a href="/">Find a Job</a></li>
                    <li><a href="/candidate/">Post Resume</a></li>
                    <li><a href="/companies/">Browse Companies</a></li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/employer/">Employers</a></li>

                    <li><a href="/post-job/">Post a Job</a></li>
                    <li><a href="/account/login/">Login</a></li>
                    <li><a href="/account/registration/">Sign Up</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>
<!-- /.header -->
<style>
    .jobs-intro {
    height: 450px;
    top: -40px;
    position: relative;
}
</style>
{% if request.page.alias == '/home/' %}
    <div class="intro jobs-intro hasOverly"
         style="background-image: url(https://i.ytimg.com/vi/e1OamtIBHpA/maxresdefault.jpg); background-position: center center;">
        <div class="dtable hw100">
            <div class="dtable-cell hw100">
                <div class="container text-center">
                    <h1 class="intro-title animated fadeInDown">Hiring Heros Everyday</h1>

                    <p class="sub animateme fittext3 animated fadeIn"> Find the latest jobs from companies who love Veterans. </p>
<form action="/job/search/">

                    <div class="row search-row2 animated fadeInUp">
                        <div class="col-lg-4 col-sm-4 search-col relative locationicon">

                            <input type="text" name="in" id="autocomplete-ajax"
                                   class="form-control locinput input-rel searchtag-input "
                                   placeholder="city, state, or zip" value="">

                        </div>
                        <div class="col-lg-4 col-sm-4 search-col relative">
                            <input type="text" name="q" class="form-control "
                                   placeholder="job title, keywords or company" value="">
                        </div>
                        <div class="col-lg-4 col-sm-4 search-col">
                            <button class="btn btn-primary btn-search btn-block"><i class="icon-search"></i><strong>Find
                                Jobs</strong></button>
                        </div>
                    </div>
</form>

                    <div class="resume-up">
                        <!-- -->
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% endif %}


<div class="main-container">


    <div class="container">


        <div class="row">


            {% for element in request.page.elements.all %}
            {% if element.position == 'right-sidebar' %}

            {% endif %}
            {% endfor %}

            <div class="col-sm-9 page-content col-thin-right">
                {% include component.view %}
            </div>

            <div class="col-sm-3 page-sidebar col-thin-left">
                <aside>
                    <div class="inner-box no-padding">
                        {% element_position "right-sidebar" request %}
                    </div>


                </aside>
            </div>
        </div>


        <div style="clear: both"></div>


        <div style="clear: both"></div>

    </div>
</div>
<!-- /.main-container -->


<div class="footer" id="footer">
    <div class="container">
        <ul class=" pull-left navbar-link footer-nav">
            <li><a href="index.html"> Home </a> <a href="about-us.html"> About us </a> <a href="#"> Terms and
                Conditions </a> <a href="#"> Privacy Policy </a> <a href="contact.html"> Contact us </a> <a
                    href="faq.html"> FAQ </a>
        </ul>
        <ul class=" pull-right navbar-link footer-nav">
            <li> &copy; 2016 {{request.board.title}}</li>
        </ul>
    </div>

</div>
<!-- /.footer -->
</div>
<!-- /.wrapper -->

<!-- Le javascript
================================================== -->

<!-- Placed at the end of the document so the pages load faster -->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>

<!-- include carousel slider plugin  -->
<script src="https://s3.amazonaws.com/boardmonkey/production/assets/js/owl.carousel.min.js"></script>

<!-- include equal height plugin  -->
<script src="https://s3.amazonaws.com/boardmonkey/production/assets/js/jquery.matchHeight-min.js"></script>

<!-- include jquery list shorting plugin plugin  -->
<script src="https://s3.amazonaws.com/boardmonkey/production/assets/js/hideMaxListItem.js"></script>
<!-- include jquery.fs plugin for custom scroller and selecter  -->
<script src="https://s3.amazonaws.com/boardmonkey/production/assets/plugins/jquery.fs.scroller/jquery.fs.scroller.js"></script>
<script src="https://s3.amazonaws.com/boardmonkey/production/assets/plugins/jquery.fs.selecter/jquery.fs.selecter.js"></script>
<!-- include custom script for site  -->
<script src="https://s3.amazonaws.com/boardmonkey/production/assets/js/script.js"></script>

<script>


</script>


<!-- include jquery autocomplete plugin  -->

</body>
</html>
