  <div class="col-lg-12 content-box ">
                <div class="row row-featured">

                    <div style="clear: both"></div>

                    <div class=" relative  content  clearfix">


                        <div class="">
                            <div class="tab-lite">

                                <!-- Nav tabs -->
                                <ul role="tablist" class="nav nav-tabs ">
                                    <li class="active" role="presentation"><a data-toggle="tab" role="tab"
                                                                              aria-controls="tab1" href="#tab1"
                                                                              aria-expanded="true"><i
                                            class="icon-location-2"></i>Top Job Locations</a></li>
                                    <li role="presentation" class=""><a data-toggle="tab" role="tab"
                                                                        aria-controls="tab2" href="#tab2"
                                                                        aria-expanded="false"><i
                                            class="icon-briefcase"></i>Top Job Titles</a></li>
                                    <li role="presentation" class=""><a data-toggle="tab" role="tab"
                                                                        aria-controls="tab3" href="#tab3"
                                                                        aria-expanded="false"><i
                                            class="icon-commerical-building"></i>Top Companies</a></li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="tab1">

                                        <div class="col-lg-12 tab-inner">

                                            <div class="row">
                                                <ul class="cat-list col-sm-3  col-xs-6 col-xxs-12">
                                                    <li><a href="job-list.html">Atlanta</a></li>
                                                    <li><a href="job-list.html"> Dallas </a></li>
                                                    <li><a href="job-list.html"> New York </a></li>
                                                    <li><a href="job-list.html">Santa Ana/Anaheim </a></li>
                                                    <li><a href="job-list.html">Wichita </a></li>
                                                    <li><a href="job-list.html"> Anchorage </a></li>

                                                    <li><a href="job-list.html"> Miami </a></li>
                                                    <li><a href="job-list.html">Los Angeles</a></li>
                                                </ul>

                                                <ul class="cat-list cat-list-border col-sm-3  col-xs-6 col-xxs-12">
                                                    <li><a href="job-list.html">Boston </a></li>
                                                    <li><a href="job-list.html">Houston</a></li>
                                                    <li><a href="job-list.html">Salt Lake City </a></li>
                                                    <li><a href="job-list.html">Virginia Beach </a></li>
                                                    <li><a href="job-list.html"> San Diego </a></li>

                                                    <li><a href="job-list.html">San Francisco </a></li>
                                                    <li><a href="job-list.html">Tampa </a></li>
                                                    <li><a href="job-list.html"> Washington DC </a></li>

                                                </ul>

                                                <ul class="cat-list cat-list-border col-sm-3  col-xs-6 col-xxs-12">
                                                    <li><a href="job-list.html">Virginia Beach </a></li>
                                                    <li><a href="job-list.html"> San Diego </a></li>
                                                    <li><a href="job-list.html">San Francisco </a></li>
                                                    <li><a href="job-list.html">Tampa </a></li>
                                                    <li><a href="job-list.html"> Washington DC </a></li>
                                                    <li><a href="job-list.html">Boston </a></li>
                                                    <li><a href="job-list.html">Houston</a></li>
                                                    <li><a href="job-list.html">Salt Lake City </a></li>


                                                </ul>

                                                <ul class="cat-list cat-list-border col-sm-3  col-xs-6 col-xxs-12">

                                                    <li><a href="job-list.html">Salt Lake City </a></li>
                                                    <li><a href="job-list.html">San Francisco </a></li>
                                                    <li><a href="job-list.html">Tampa </a></li>
                                                    <li><a href="job-list.html"> Washington DC </a></li>
                                                    <li><a href="job-list.html">Virginia Beach </a></li>
                                                    <li><a href="job-list.html"> San Diego </a></li>
                                                    <li><a href="job-list.html">Boston </a></li>
                                                    <li><a href="job-list.html">Houston</a></li>

                                                </ul>

                                            </div>

                                        </div>


                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="tab2">

                                        <div class="col-lg-12 tab-inner">

                                            <div class="row">

                                                <ul class="cat-list cat-list-border col-sm-3  col-xs-6 col-xxs-12">
                                                    <li><a href="job-list.html">
                                                        Full Time Jobs

                                                    </a></li>
                                                    <li><a href="job-list.html"> Part Time Jobs
                                                        Retail Jobs
                                                    </a></li>
                                                    <li><a href="job-list.html"> Construction Jobs
                                                    </a></li>
                                                    <li><a href="job-list.html"> Marketing Jobs
                                                    </a></li>
                                                    <li><a href="job-list.html"> Accounting Jobs
                                                        Customer Service Jobs
                                                    </a></li>
                                                    <li><a href="job-list.html"> Security Jobs
                                                    </a></li>
                                                    <li><a href="job-list.html">Engineering Jobs
                                                    </a></li>
                                                    <li><a href="job-list.html"> Maintenance Jobs
                                                    </a></li>

                                                </ul>


                                                <ul class="cat-list col-sm-3  col-xs-6 col-xxs-12">
                                                    <li><a href="job-list.html"> Hospitality Jobs
                                                    </a></li>
                                                    <li><a href="job-list.html"> Government Jobs
                                                    </a></li>
                                                    <li><a href="job-list.html"> Medical Assistant Jobs
                                                    </a></li>
                                                    <li><a href="job-list.html"> Nursing Jobs
                                                    </a></li>
                                                    <li><a href="job-list.html"> Pharmacy Assistant Jobs
                                                    </a></li>
                                                    <li><a href="job-list.html"> Data Entry Jobs
                                                    </a></li>
                                                    <li><a href="job-list.html"> Receptionist Jobs
                                                    </a></li>
                                                    <li><a href="job-list.html"> Welding Jobs
                                                    </a></li>
                                                </ul>

                                                <ul class="cat-list cat-list-border col-sm-3  col-xs-6 col-xxs-12">
                                                    <li><a href="job-list.html"> Criminal Justice Jobs
                                                    </a></li>
                                                    <li><a href="job-list.html"> HSE Manager Jobs
                                                    </a></li>
                                                    <li><a href="job-list.html"> Pharmaceutical Sales Jobs
                                                    </a></li>
                                                    <li><a href="job-list.html"> Electrician Jobs
                                                    </a></li>
                                                    <li><a href="job-list.html"> Pharmacy Technician Jobs
                                                    </a></li>
                                                    <li><a href="job-list.html"> Graphic Design Jobs
                                                    </a></li>
                                                    <li><a href="job-list.html"> Homeland Security Jobs
                                                    </a></li>
                                                    <li><a href="job-list.html"> CNA Jobs
                                                    </a></li>

                                                </ul>

                                                <ul class="cat-list cat-list-border col-sm-3  col-xs-6 col-xxs-12">
                                                    <li><a href="job-list.html"> Online Teaching Jobs
                                                    </a></li>
                                                    <li><a href="job-list.html"> Police Officer Jobs
                                                    </a></li>
                                                    <li><a href="job-list.html"> Federal Jobs
                                                    </a></li>
                                                    <li><a href="job-list.html"> Flight Attendant Jobs
                                                    </a></li>
                                                    <li><a href="job-list.html"> Cruise Ship Jobs
                                                    </a></li>
                                                    <li><a href="job-list.html">Housekeeping Jobs
                                                    </a></li>
                                                    <li><a href="job-list.html"> Working at Home Jobs
                                                    </a></li>
                                                    <li><a href="job-list.html"> Warehouse Work Jobs
                                                    </a></li>

                                                </ul>


                                            </div>

                                        </div>


                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="tab3">

                                        <div class="col-lg-12 tab-inner">

                                            <div class="row">


                                                <ul class="cat-list cat-list-border col-sm-3  col-xs-6 col-xxs-12">
                                                    <li><a href="job-list.html">
                                                        Aramark Jobs & Careers

                                                    </a></li>
                                                    <li><a href="job-list.html"> AT&T Jobs & Careers
                                                    </a></li>
                                                    <li><a href="job-list.html"> Armellini Jobs & Careers
                                                    </a></li>
                                                    <li><a href="job-list.html"> Aflac Jobs & Careers
                                                    </a></li>
                                                    <li><a href="job-list.html"> Avon Jobs & Careers
                                                    </a></li>
                                                    <li><a href="job-list.html"> Aon Service Corporation Jobs & Careers
                                                    </a></li>
                                                    <li><a href="job-list.html"> AmeriBanc National Jobs & Careers
                                                    </a></li>
                                                    <li><a href="job-list.html"> ASML Jobs & Careers
                                                    </a></li>

                                                </ul>


                                                <ul class="cat-list cat-list-border col-sm-3  col-xs-6 col-xxs-12">
                                                    <li><a href="job-list.html"> Bankers Life Jobs & Careers
                                                    </a></li>
                                                    <li><a href="job-list.html"> Comcast Cable Communications Jobs &
                                                        Careers
                                                    </a></li>
                                                    <li><a href="job-list.html"> Capgemini Jobs & Careers
                                                    </a></li>
                                                    <li><a href="job-list.html"> Combined Insurance Jobs & Careers
                                                    </a></li>
                                                    <li><a href="job-list.html"> CNO Services Jobs & Careers
                                                    </a></li>
                                                    <li><a href="job-list.html"> Coca Cola Jobs & Careers
                                                    </a></li>
                                                    <li><a href="job-list.html"> Doherty Employment Group Jobs & Careers
                                                    </a></li>
                                                    <li><a href="job-list.html"> Enterprise Rent-A-Car Jobs & Careers
                                                    </a></li>

                                                </ul>


                                                <ul class="cat-list col-sm-3  col-xs-6 col-xxs-12">
                                                    <li><a href="job-list.html"> General Electric Jobs & Careers
                                                    </a></li>
                                                    <li><a href="job-list.html">Johnson Controls Jobs & Careers
                                                    </a></li>
                                                    <li><a href="job-list.html"> Kenan Advantage Group Jobs & Careers
                                                    </a></li>
                                                    <li><a href="job-list.html"> Macy's Jobs & Careers
                                                    </a></li>
                                                    <li><a href="job-list.html"> PepsiCo Jobs & Careers
                                                    </a></li>
                                                    <li><a href="job-list.html"> Proquire LLC Jobs & Careers
                                                    </a></li>
                                                    <li><a href="job-list.html"> Pilot Travel Centers Jobs & Careers
                                                    </a></li>
                                                    <li><a href="job-list.html"> PPG Industries Inc Jobs & Careers
                                                    </a></li>
                                                </ul>

                                                <ul class="cat-list cat-list-border col-sm-3  col-xs-6 col-xxs-12">
                                                    <li><a href="job-list.html"> Quintiles Jobs & Careers
                                                    </a></li>
                                                    <li><a href="job-list.html"> UPS Jobs & Careers
                                                    </a></li>
                                                    <li><a href="job-list.html"> Uline Jobs & Careers
                                                    </a></li>
                                                    <li><a href="job-list.html"> Safeway Jobs & Careers
                                                    </a></li>
                                                    <li><a href="job-list.html"> Seagate Technology Jobs & Careers
                                                    </a></li>
                                                    <li><a href="job-list.html"> Tenet Healthcare Jobs & Careers
                                                    </a></li>
                                                    <li><a href="job-list.html">TruGreen Jobs & Careers
                                                    </a></li>
                                                    <li><a href="job-list.html"> UnitedHealth Group Jobs & Careers
                                                    </a></li>

                                                </ul>


                                            </div>

                                        </div>


                                    </div>
                                </div>

                            </div>

                        </div>


                    </div>

                </div>
            </div>


            <div class="col-lg-12 content-box ">
                <div class="row row-featured row-featured-category row-featured-company">
                    <div class="col-lg-12  box-title no-border">
                        <div class="inner"><h2><span>Featured</span>
                            companies <a class="sell-your-item" href="job-list.html"> See all companies <i
                                    class="  icon-th-list"></i> </a></h2>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="job-list.html"><img alt="img" class="img-responsive"
                                                     src="https://s3.amazonaws.com/boardmonkey/production/images/jobs/company-logos/10.jpg">
                            <h6> Jobs at <span class="company-name">Bluth Company</span> <span
                                    class="jobs-count text-muted">(64)</span>
                            </h6>
                        </a>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="job-list.html"><img alt="img" class="img-responsive"
                                                     src="https://s3.amazonaws.com/boardmonkey/production/images/jobs/company-logos/11.jpg">
                            <h6> Jobs at <span
                                    class="company-name">Mainway</span> <span class="jobs-count text-muted">(64)</span>
                            </h6>
                        </a>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="job-list.html"><img alt="img" class="img-responsive"
                                                     src="https://s3.amazonaws.com/boardmonkey/production/images/jobs/company-logos/12.jpg">
                            <h6> Jobs at <span class="company-name">W&amp;P</span> <span class="jobs-count text-muted">(64)</span>
                            </h6></a>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="job-list.html"><img alt="img" class="img-responsive"
                                                     src="https://s3.amazonaws.com/boardmonkey/production/images/jobs/company-logos/23.jpg">
                            <h6> Jobs at <span
                                    class="company-name">Fuels</span> <span class="jobs-count text-muted">(64)</span>
                            </h6>
                        </a>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="job-list.html"><img alt="img" class="img-responsive"
                                                     src="https://s3.amazonaws.com/boardmonkey/production/images/jobs/company-logos/13.jpg">
                            <h6> Jobs at <span class="company-name">Axis Co.</span> <span class="jobs-count text-muted">(64)</span>
                            </h6></a>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="job-list.html"><img alt="img" class="img-responsive"
                                                     src="https://s3.amazonaws.com/boardmonkey/production/images/jobs/company-logos/14.jpg">
                            <h6> Jobs at <span class="company-name">Videlectrix</span> <span
                                    class="jobs-count text-muted">(64)</span></h6></a>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="job-list.html"><img alt="img" class="img-responsive"
                                                     src="https://s3.amazonaws.com/boardmonkey/production/images/jobs/company-logos/15.jpg">
                            <h6> Jobs at <span
                                    class="company-name">Blammo</span> <span class="jobs-count text-muted">(64)</span>
                            </h6>
                        </a>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="job-list.html"><img alt="img" class="img-responsive"
                                                     src="https://s3.amazonaws.com/boardmonkey/production/images/jobs/company-logos/16.jpg">
                            <h6> Jobs at <span class="company-name">Incom Co.</span> <span
                                    class="jobs-count text-muted">(64)</span></h6></a>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="job-list.html"><img alt="img" class="img-responsive"
                                                     src="https://s3.amazonaws.com/boardmonkey/production/images/jobs/company-logos/17.jpg">
                            <h6> Jobs at <span class="company-name">Data System</span> <span
                                    class="jobs-count text-muted">(64)</span></h6></a>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="job-list.html"><img alt="img" class="img-responsive"
                                                     src="https://s3.amazonaws.com/boardmonkey/production/images/jobs/company-logos/18.jpg">
                            <h6> Jobs at <span class="company-name">Sample inc</span> <span
                                    class="jobs-count text-muted">(64)</span></h6></a>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="job-list.html"><img alt="img" class="img-responsive"
                                                     src="https://s3.amazonaws.com/boardmonkey/production/images/jobs/company-logos/19.jpg">
                            <h6> Jobs at <span class="company-name">Globex</span> <span class="jobs-count text-muted">(64)</span>
                            </h6></a>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 f-category">
                        <a href="job-list.html"><img alt="img" class="img-responsive"
                                                     src="https://s3.amazonaws.com/boardmonkey/production/images/jobs/company-logos/20.jpg">
                            <h6> Jobs at <span class="company-name">LuthorCorp</span> <span
                                    class="jobs-count text-muted">(64)</span></h6></a>
                    </div>

                </div>
            </div>

    <div class="page-info hasOverly"
         style="background-image: url(images/jobs/2.jpg);    background-position: center center;  background-size:cover">
        <div class="bg-overly">
            <div class="container text-center section-promo">
                <div class="row">
                    <div class="col-sm-3 col-xs-6 col-xxs-12">
                        <div class="iconbox-wrap">
                            <div class="iconbox">
                                <div class="iconbox-wrap-icon">
                                    <i class="icon  icon-commerical-building"></i>
                                </div>
                                <div class="iconbox-wrap-content">
                                    <h5><span>2200+</span></h5>

                                    <div class="iconbox-wrap-text">Companies</div>
                                </div>
                            </div>
                            <!-- /..iconbox -->
                        </div>
                        <!--/.iconbox-wrap-->
                    </div>

                    <div class="col-sm-3 col-xs-6 col-xxs-12">
                        <div class="iconbox-wrap">
                            <div class="iconbox">
                                <div class="iconbox-wrap-icon">
                                    <i class="icon  icon-briefcase"></i>
                                </div>
                                <div class="iconbox-wrap-content">
                                    <h5><span>400K+</span></h5>

                                    <div class="iconbox-wrap-text">Live Jobs</div>
                                </div>
                            </div>
                            <!-- /..iconbox -->
                        </div>
                        <!--/.iconbox-wrap-->
                    </div>

                    <div class="col-sm-3 col-xs-6  col-xxs-12">
                        <div class="iconbox-wrap">
                            <div class="iconbox">
                                <div class="iconbox-wrap-icon">
                                    <i class="icon  icon-users"></i>
                                </div>
                                <div class="iconbox-wrap-content">
                                    <h5><span>3000+</span></h5>

                                    <div class="iconbox-wrap-text"> Resume</div>
                                </div>
                            </div>
                            <!-- /..iconbox -->
                        </div>
                        <!--/.iconbox-wrap-->
                    </div>

                    <div class="col-sm-3 col-xs-6 col-xxs-12">
                        <div class="iconbox-wrap">
                            <div class="iconbox">
                                <div class="iconbox-wrap-icon">
                                    <i class="icon icon-doc-1"></i>
                                </div>
                                <div class="iconbox-wrap-content">
                                    <h5><span>2000+</span></h5>

                                    <div class="iconbox-wrap-text"> Resources</div>
                                </div>
                            </div>
                            <!-- /..iconbox -->
                        </div>
                        <!--/.iconbox-wrap-->
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- /.page-info -->

    <div class="page-bottom-info">
        <div class="page-bottom-info-inner">

            <div class="page-bottom-info-content text-center">
                <h1>If you have any questions, comments or concerns, please call Career Services
                    at (000) 555-5555</h1>
                <a class="btn  btn-lg btn-primary-dark" href="tel:+000000000">
                    <i class="icon-mobile"></i> <span class="hide-xs color50">Call Now:</span> (000) 555-5555 </a>
            </div>

        </div>
    </div>
