{% load template_engine %}
<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- -->

    <title>{% if request.page.meta_title|length == 0 %}{{request.page.title }}{% else %}{{request.page.meta_title}}{% endif %}</title>


    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="language" content="EN">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <!-- custom temp -->
    <link href="https://netdna.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>


    <!-- Custom styles for this template -->
    <style>
    	body{
    			background-color:#003344;
    			max-width:100%;
    		}

    	.container .showcase{
    			background-color:#fff;
    	}

    	.navbar-inverse .navbar-nav>li>a {
			color: #fff;
		}




    </style>


    <style>
	#homeSearchForm{

	}



	.featJobs .job-wrapper{
		background-color:#fff;
		margin-bottom:7px;

	}
	.featJobs .highlightedJobListing{
		background-color:lightyellow;
	}

	.featJobs .col-md-6{
		padding: 7px;
	}

	.fromTheWebJobs .job-wrapper{
		border:none;
	}

	.job-wrapper{
		width:100%;
		border: solid 1px #ccc;
		padding: 15px;
	}
	.job-title{
		display:inline-block;
		font-size:1.35em;
			width:100%;
	}
		.job-title a{

		text-decoration:underline;
		color:#003355;
	}
	.job-description{
		display:inline-block;
		width:100%;
	}

	.job-company{
		color:maroon;
	}
	.job-location{
		color:darkgrey;
	}
	.job-posted{

		color:#003344;
	}

	h3.featHeader{
		border-bottom: solid 1px #ccc;
		padding-bottom:7px;
	}



    </style>


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>
<body>




<!-- start header menu -->
<div class="navbar navbar-default" role="navigation" style="margin-bottom: 10px;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

                <li><a href="/">Home</a></li>
                <li><a href="#/job/jobs/">Browse Jobs</a></li>
                <li><a href="/post-job/">Post Jobs</a></li>
                <li><a href="/about/">About Us</a></li>
                <!--
                <li><a href="/products/">Products &amp; Services</a></li> -->
                <li><a href="/contact/">Contact Us</a></li>
            </ul>


                        <a class="pull-right btn btn-success btn-sm"
               href="/candidate/" style="margin-top:15px; margin-left:15px; ">Candidate: Get Employed.</a>

            <a class="pull-right btn btn-danger btn-sm"
               href="/employer/" style="margin-top:15px; ">Employers:
                Hire a Hero</a>

        </div><!--/.nav-collapse -->

    </div>

</div>
<!--// header menu end -->


<!-- top header -->


<!-- end top header -->

<div class='container'>
    <div class="row" style="text-align:center; background-color:#fff;padding:26px 0; margin-bottom: 10px;">
        <div class="col-md-3">
            <a href='/?ref=logo'>

                <img src="{{ request.board.logo_url }}" style="width:250px;" alt="{{request.board.name}}">

            </a>
        </div>

        <div class="col-md-9" style="">
            <form class="form-inline" role="form" id="homeSearchForm"
                  action="/job/search/" method="get">
                <div class="form-group col-md-5">
                    <label class="sr-only" for="searchKeywords">Keywords</label>
                    <input name="q" type="text" class="form-control" id="searchKeywords"
                           placeholder="Keywords, Company or Categories" style="width:100%;">
                </div>
                <div class="form-group col-md-5">
                    <label class="sr-only" for="searchLocation">Location</label>
                    <input name="in" type="text" class="form-control" id="searchLocation"
                           placeholder="City, ST or Zipcode" style="width:100%;">
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-default">Search Jobs</button>
                </div>
            </form>

        </div>
    </div>

</div>

{% if request.page.alias == '/home/' %}
<div class="container">
    <div class="row">
        <div class=""
             style="color:#fff;text-shadow: 1px 1px 2px #333;font-size: larger;font-weight: normal;border-bottom: 7px solid darkslateblue;">

            <div class="intro jobs-intro hasOverly"
                 style="background-image: url(http://i.imgur.com/iUZzJqc.jpg); background-position: center center; padding:50px;">
                <div class="dtable hw100" style="
    padding: 20px 30px 50px 30px;
    font-family: Arial;
">
                    <div class="dtable-cell hw100">
                        <div class="text-center">
                            <h1 class="intro-title animated fadeInDown">Hiring Heros Everyday</h1>

                            <p class="sub animateme fittext3 animated fadeIn" style="
    padding-bottom: 15px;
    margin-bottom: 35px;
">Search the Latest Jobs from the Top US Employers who support hiring our Veterans and their families!</p>
                            <form action="/job/search/">

                                <div class="">
                                    <div class="col-md-offset-1 col-md-4 col-sm-4 search-col relative">
                                        <input type="text" name="q" class="form-control "
                                               placeholder="job title, keywords or company" value="" style="
    border: solid 5px;
    font-size: 18px;
    color: darkred;
">
                                    </div>


                                    <div class="col-md-4 col-sm-4 search-col relative locationicon">

                                        <input type="text" name="in" id="autocomplete-ajax"
                                               class="form-control locinput input-rel searchtag-input "
                                               placeholder="city, state, or zip" value="" style="
    border: solid 5px;
    font-size: 18px;
    color: darkred;
">

                                    </div>
                                    <div class="col-md-3 col-sm-4 search-col">
                                        <button class="btn btn-primary btn-search btn-block"><i class="icon-search"></i><strong>Find
                                            Jobs</strong></button>
                                    </div>
                                </div>
                            </form>

                            <div class="resume-up">
                                <!-- -->
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endif %}

<!-- MAIN CONTENT -->
<div class='container'>
    <div class='row'>


                <!-- left column -->

                <div class='col-md-8' style="background:#fff;">


                    {% include component.view %}


                    <div class="clearfix clear-fix"></div>

                        <hr/>
                        <!-- JOB CATEGORIES
                        <div class="col-md-6 feat">
                            <div class="well">
                                <h3 style="font-size:18px;">Browse Jobs by Categories</h3>

                                <ul class="">
                                    <li>
                                        <a href='/job/search/?q=Administrative'>Administrative</a>
                                    </li>
                                    <li>
                                        <a href='/job/search/?q=Database%20Engineer'>Database
                                            Engineer</a></li>
                                    <li>
                                        <a href='/job/search/?q=Data%20Scientist'>Data
                                            Scientist</a></li>
                                    <li><a href='/job/search/?q=Django'>Django</a>
                                    </li>
                                    <li>
                                        <a href='/job/search/?q=Ruby%20on%20Rails'>Ruby
                                            on Rails</a></li>
                                    <li>
                                        <a href='/job/search/?q=Quality%20Assurance'>Quality
                                            Assurance</a></li>
                                    <li>
                                        <a href='/job/search/?q=iOS%20Developer'>iOS
                                            Developer</a></li>
                                </ul>

                            </div>

                        </div>

                        <div class="col-md-6">
                            <div class="well">
                                <h3 style="font-size:18px;"> Browse Jobs by Location</h3>
                                <ul class="">
                                    <li>
                                        <a href='/job/search/?in=New%20York,%20NY'>New
                                            York, NY</a></li>
                                    <li>
                                        <a href='/job/search/?in=Boston,%20MA'>Boston,
                                            MA</a></li>
                                    <li>
                                        <a href='/job/search/?in=Houston,%20TX'>Houston,
                                            TX</a></li>
                                    <li>
                                        <a href='/job/search/?in=Greensboro,%20NC'>Greensboro,
                                            NC</a></li>
                                    <li>
                                        <a href='/job/search/?in=Atlanta,%20GA'>Atlanta,
                                            GA</a></li>
                                    <li>
                                        <a href='/job/search/?in=Salt%20Lake%20City,%20UT'>Salt
                                            Lake City, UT</a></li>
                                    <li>
                                        <a href='/job/search/?in=Topeka,%20KS'>Topeka,
                                            KS</a></li>
                                </ul>
                            </div>

                        </div>
-->


                    <hr/>
                        <div class='row'>
                            <div class='col-md-12'>
                            </div>
                        </div>

</div>

                <!-- right column -->
                <div class='col-md-4'>
                    <div style="padding: 15px; text-align:center;">
                        <hr />
                  {% element_position "right_sidebar" request %}
                    {% if request.page.alias == '/home/' or request.page.alias == '/job/search/' %}
                    <!--HiresVets - 300x600--><span data-id="16" class="mgv1_1"><script>(window.jQuery || document.write("<script src=\"//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js\"><\/script>"))</script><script type="text/javascript">(function(){if (mysa_mgv1_1) return; var ma = document.createElement("script"); ma.type = "text/javascript"; ma.async = true; ma.src = "http" + ("https:"==document.location.protocol?"s":"") + "://www.jacksoncharlesgroup.com/mysa2/api/index.php?js&g&1&v=2"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ma, s) })();var mysa_mgv1_1=true;</script></span>
                    {% endif %}
                </div>

                    </div>

            </div>

        </div>


    </div>
</div>


<!-- MAIN CONTENT -->
<div class='container' style="padding:20px 0;">

    <div class='row'>


        <div class='col-md-6' style='color:#fff;'>
            &copy;2016 {{request.board.name}} - All Rights Reserved
        </div>


    </div>
</div>



</body>
</html>




