<html>
<head><link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"><title>Oops, an Error Occured.</title></head>


<body>

<div class="container">
    <div class="row">
        <div class="col-md-12" style="text-align:center;">
            <h1>Oh No! Something went wrong :(</h1>
            <p>
                Oh man, we hate when this happens. Good news <br />
                is we have an excellent team working around <br />
                the clock to fix all issues. <br />
                <br />
                <a href="/contact/"><h3>Contact Us w/ Details</h3></a>
            </p>
        </div>
    </div>
</div>


</body>
</html>