<!doctype html>
<html>
<head>
     <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/darkly/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-kVo/Eh0sv7ZdiwZK32nRsp1FrDT3sLRLx3zVpSSTI9UdO5H02LJNLBg5F1gwvKg0" crossorigin="anonymous">
    <title>TalentCandy.com - Launching Soon</title>
    <style>
        body{ background-color:#1b355b; }
    </style>
</head>



<body>
<div class="container">
    <div class="col-md-12" style="text-align:center;">



         {% include component.view %}

    </div>
</div>
</body>

</html>

