{% load template_engine %}
<!DOCTYPE html>

<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jody Fitzpatrick">

    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://s3.amazonaws.com/hireavet/universo/assets/css/selectize.css" type="text/css">
    <link rel="stylesheet" href="https://s3.amazonaws.com/hireavet/universo/assets/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="https://s3.amazonaws.com/hireavet/universo/assets/css/vanillabox/vanillabox.css" type="text/css">

    <link rel="stylesheet" href="https://s3.amazonaws.com/hireavet/universo/assets/css/style.css" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

    <title>{% if request.page.meta_title|length == 0 %}{{request.page.title }}{% else %}{{request.page.meta_title}}{% endif %}</title>

        <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>


    <style>
    body{ background-color: #000; background:url(https://i.imgur.com/c7k1OX3.jpg); background-repeat: no-repeat; background-size:cover; background-position:center;    background-attachment: fixed; }
        .job-title {
    display: inline-block;
    font-size: 1.35em;
    width: 100%;
}
.col-md-8{ background: #fff; }
#right-sidebar, .right-sidebar{ background-color:#ffffff; padding-bottom:20px;}
#page-main{ background-color: #ffffff; padding-bottom:20px; }

.universal-button.framed {
    background-color: aliceblue;
    border: 2px solid whitesmoke;
    color: #012951;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    color: #fff;
}
#resource-types h3{ color:#003355; }

    </style>
</head>

<body class="page-sub-page page-microsite">
<!-- Wrapper -->
<div class="wrapper">
<!-- Header -->
<div class="navigation-wrapper" style="z-index:1; ">
    <div class="secondary-navigation-wrapper" style="background-color:#035;">
        <div class="container">
            <div class="navigation-contact pull-left">Email Us:  <span class="opacity-70"><a href="/contact/">Contact us</a></span></div>
            <ul class="secondary-navigation list-unstyled pull-right">
                <li><a href="/post-job/">Post a Job</a></li>
                <li><a href="/products/">Products &amp; Services</a></li>
                <li><a href="/support/">Customer Service</a></li>
                <li><a href="/employer/">Employer</a></li>
            </ul>
        </div>
    </div><!-- /.secondary-navigation -->
    <div class="primary-navigation-wrapper">
        <header class="navbar" id="top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand nav" id="brand">
                        <a href="/"><img src="{{ request.board.logo_url }}" style="width:250px;" alt="{{request.board.name}}"></a>
                    </div>
                </div>
                <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="/" class="has-child no-link">Home</a>

                        </li>
                        <li>
                            <a href="/job/search/?q=&in=" class=" has-child no-link">Jobs</a>
                            <ul class="list-unstyled child-navigation">
                                <li><a href="/job/search/?q=&in=">Browse Jobs</a></li>
                                <li><a href="/post-job/">Post Jobs</a></li>
                                <!--
                                <li><a href="course-detail-v1.html">Course Detail v1</a></li>
                                <li><a href="course-detail-v2.html">Course Detail v2</a></li>
                                <li><a href="course-detail-v3.html">Course Detail v3</a></li> -->
                            </ul>
                        </li>

                        <li>
                            <a href="/employer/" class="has-child no-link">Employers</a>
                            <ul class="list-unstyled child-navigation">
                                <li><a href="/about/">Why HireAVet?</a></li>
                                <li><a href="/products/">Products and Services</a></li>
                                <li><a href="/post-job/">Post a Job</a></li>
                                <!-- <li><a href="/account/">My Account</a></li> -->

                                <!--
                                <li><a href="microsite.html">Company Profile</a></li>
                                <li><a href="my-account.html">My Account</a></li>
                                <li><a href="members.html">Members</a></li>
                                <li><a href="member-detail.html">Member Detail</a></li>
                                <li><a href="register-sign-in.html">Register & Sign In</a></li>
                                <li><a href="shortcodes.html">Shortcodes</a></li> -->
                            </ul>
                        </li>

                        <li>
                            <a href="#" class="has-child no-link">Events</a>
                            <ul class="list-unstyled child-navigation">
                                <li><a href="/events/career-fairs/">Career Fairs</a></li>
                                <li><a href="/events/special/">Special Events</a></li>
                                <li><a href="/events/hiring/">Hiring Events</a></li>
                                <li><a href="/events/seminars/">Seminars</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/about/">About Us</a>
                        </li><!--
                        <li>
                            <a href="/blog/" class="has-child no-link">Blog</a>
                            <ul class="list-unstyled child-navigation">
                                <li><a href="/blog/vets/">For Vets</a></li>
                                <li><a href="/blog/employers/">For Employers</a></li>

                            </ul>
                        </li>
-->
                        <li>
                            <a href="/contact/">Contact Us</a>
                        </li>
                    </ul>
                </nav><!-- /.navbar collapse-->
            </div><!-- /.container -->
        </header><!-- /.navbar -->
    </div><!-- /.primary-navigation -->
    <div class="background">
        <img src="https://i.imgur.com/Eh1dOph.png"  alt="background">
    </div>
</div>
<!-- end Header -->

<div class="navigation-wrapper" style="z-index:999;">

    <div class="primary-navigation-wrapper">
        <header class="navbar" id="top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <nav class="collapse navbar-collapse bs-navbar-collapse navbar-left" role="navigation">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#careers">Career Opportunities</a>
                        </li>
                                                <li>
                            <a href="#">Local Companies</a>
                        </li>
                        <li>
                            <a href="#education">Educational Resources</a>
                        </li>
                        <li>
                            <a href="#resources">Health Care Resources</a>
                        </li>

                        <li>
                            <a href="#resources">Other Vet Resources</a>
                        </li>

                        <!--
                        <li>
                            <a href="#">Research</a>
                        </li>
                        <li>
                            <a href="#">Health &amp; Medicine</a>
                        </li>
                        <li>
                            <a href="#">Initiatives</a>
                        </li>
                        <li>
                            <a href="contact-us.html">Giving</a>
                        </li> -->
                    </ul>
                </nav><!-- /.navbar collapse-->
                <div class="social">
                    <div class="icons">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.facebook.com/hireavetus"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                    </div><!-- /.icons -->
                </div>
            </div><!-- /.container -->
        </header><!-- /.navbar -->
    </div><!-- /.primary-navigation -->
</div>


<div id="page-content">
<!-- Slider -->
<div id="slider">
    <div class="container">
        <div class="slider-wrapper">
            <div class="row">
                <div class="col-md-9 col-sm-12" style="min-height: 295px;">
                    <div class="row">
                        <div class="image-carousel owl-carousel owl-theme" style="display: block; opacity: 1; min-height: 283px;">
                            <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 3512px; left: 0px; display: block; transition: all 1000ms ease; transform: translate3d(0px, 0px, 0px);"><div class="owl-item" style="width: 878px;"><div class="slide">
                                <div class="col-md-4 col-sm-4">
                                    <h1>Veteran Resource Page</h1>
                                    <p>
                                       Welcome to our <b>Veteran Resource Page</b>, our goal is to help connect you with local veteran
                                        resources, services and amazing career opportunities.
                                    </p>
                                    <a href="/contact/" class="btn btn-framed btn-small btn-color-white">Find out more, Contact us</a>
                                </div><!-- /.col-md-4 -->
                                <div class="col-md-8 col-sm-8">
                                    <div class="image-carousel-slide"><img src="https://i.imgur.com/IDoHGj8.jpg" alt=""></div>
                                </div><!-- /.col-md-8 -->
                            </div></div>
                               </div></div>
                            <!-- /.slide -->
                       <!-- <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"></div><div class="owl-next"></div></div></div></div><!-- /.image-carousel -->
                  </div>
                    </div><!-- /.row -->
                </div><!-- /.col-md-9 -->

                <div class="col-md-3 col-sm-12" style="min-height: 295px;">
                    <aside class="news-small" id="news-slider">
                        <header>
                            <h2>Latest Careers for Vets</h2>
                        </header>
                        <div class="section-content">
                            <article>
                                <header><i class="fa fa-file-o"></i><a href="#">Career Sales Representative - AARP - Dry Fork, VA</a></header>
                            </article><!-- /article -->
                            <article>
                        <header><i class="fa fa-file-o"></i><a href="#">Career Sales Representative - AARP - Dry Fork, VA</a></header>
                            </article><!-- /article -->
                            <article>
 <header><i class="fa fa-file-o"></i><a href="#">Career Sales Representative - AARP - Dry Fork, VA</a></header>
                            </article><!-- /article -->
                        </div><!-- /.section-content -->
                        <a href="#" class="read-more">All News</a>
                    </aside><!-- /.news-small -->
                </div><!-- /.col-md-3 -->

            </div><!-- /.row -->
        </div><!-- /.slider-wrapper -->
    </div><!-- /.container -->
</div>
<!-- end Slider -->



<!-- Content -->
<div class="block">
    <div class="container" style="background: rgba(0, 0, 34, 0.65);">
        <div class="row">
            <div class="col-md-3" style="min-height: 1045px;">
                <section class="events small" id="events-small">
                    <header>
                        <h2>Events</h2>
                        <a href="#" class="link-calendar">Calendar</a>
                    </header>
                    <div class="section-content">
                        <article class="event nearest">
                            <figure class="date">
                                <div class="month">aug</div>
                                <div class="day">8</div>
                            </figure>
                            <aside>
                                <header>
                                    <a href="#">HireAVet.us - soft launches</a>
                                </header>
                                <div class="additional-info">info@hireavet.us</div>
                            </aside>
                        </article>




                    <h2>Career News</h2>
<div>

                        <script src="http://feeds.feedburner.com/careercloud/zUpX?format=sigpro" type="text/javascript" ></script><noscript><p>Subscribe to RSS headline updates from: <a href="http://feeds.feedburner.com/careercloud/zUpX"></a><br/>Powered by FeedBurner</p> </noscript>
    </div>
    <!-- /article

</div>

                        <article class="event nearest-second">
                            <figure class="date">
                                <div class="month">feb</div>
                                <div class="day">01</div>
                            </figure>
                            <aside>
                                <header>
                                    <a href="#">February Half-Term Activities: Big Stars and Little Secrets </a>
                                </header>
                                <div class="additional-info clearfix">Pitt Rivers and Natural History Museums</div>
                            </aside>
                        </article><!-- /article
                        <article class="event">
                            <figure class="date">
                                <div class="month">mar</div>
                                <div class="day">23</div>
                            </figure>
                            <aside>
                                <header>
                                    <a href="#">The Orchestra of the Age of Enlightenment perform with Music</a>
                                </header>
                                <div class="additional-info">Faculty of Music</div>
                            </aside>
                        </article><!-- /article -->
                    </div><!-- /.section-content -->
                </section><!-- /.events-small -->
            </div><!-- /.col-md-3 -->

            <div class="col-md-6" style="min-height: 1045px;">
                <section id="main-content">


                    <!--
                    <header>
                        <h2>Why Vets Love North Carolina</h2>
                    </header> -->
                    <div class="section-content">
                        <br />
                         <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- resource-page -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1729450395995362"
     data-ad-slot="3829168030"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

                         {% include component.view %}
                        <!--
                        <p>North Carolina provides a large range of recreational activities, from swimming at the beach to skiing in the mountains. North Carolina offers fall colors, freshwater and saltwater fishing, hunting, birdwatching, agritourism, ATV trails, ballooning, rock climbing, biking, hiking, skiing, boating and sailing, camping, canoeing, caving (spelunking), gardens, and arboretums. North Carolina has theme parks, aquariums, museums, historic sites, lighthouses, elegant theaters, concert halls, and fine dining.
</p><p>
Enjoy outdoor recreation in North Carolina utilizing numerous local bike paths, 34 state parks, and 14 national parks. National Park Service units include the Appalachian National Scenic Trail, the Blue Ridge Parkway, Cape Hatteras National Seashore, Cape Lookout National Seashore, Carl Sandburg Home National Historic Site at Flat Rock, Fort Raleigh National Historic Site at Manteo, Great Smoky Mountains National Park, Guilford Courthouse National Military Park in Greensboro, Moores Creek National Battlefield near Currie in Pender County, the Overmountain Victory National Historic Trail, Old Salem National Historic Site in Winston-Salem, the Trail of Tears National Historic Trail, and Wright Brothers National Memorial in Kill Devil Hills. National Forests include Uwharrie National Forest in central North Carolina, Croatan National Forest in Eastern North Carolina, Pisgah National Forest in the northern mountains, and Nantahala National Forest in the southwestern part of the state.</p>
                     -->   <!--
                        <h3></h3>
                        <p>
                            Cras iaculis dapibus imperdiet. In sodales mauris nec turpis accumsan, at tincidunt nisi dapibus.
                            Integer sit amet mauris vehicula, porttitor turpis nec, ultrices enim. Curabitur ornare libero vitae
                            fringilla tincidunt. Nunc quis diam egestas, tempor nisl id, semper quam. Suspendisse dui dolor, tempus
                            non semper sed, cursus quis ligula. Curabitur vehicula ligula sed placerat malesuada. Vestibulum auctor
                            interdum nibh. Maecenas dignissim condimentum convallis.
                        </p>
                        <p>
                            Phasellus eget semper dolor. Etiam at laoreet augue. Donec posuere suscipit ipsum, a elementum neque
                            porttitor a. Mauris iaculis fringilla ante auctor ultricies. Proin eget luctus sem, eu ultricies erat.
                            Integer elementum justo eget nisi adipiscing, id luctus sem convallis. Fusce dui lacus, posuere et
                            aliquam sed, vestibulum at urna.
                        </p>-->
                        <h2>Veteran Resources</h2>

                        <div class="row" id="resource-types">
                            <div class="col-md-6" style="min-height: 84px;">
                                <a href="#" class="universal-button framed">
                                    <h3>Careers</h3>
                                    <figure class="date"><i class="fa fa-arrow-right"></i></figure>
                                </a><!-- /.universal-button -->
                            </div><!-- /.col-md-6 -->
                            <div class="col-md-6" style="min-height: 84px;">
                                <a href="#" class="universal-button framed">
                                    <h3>Education</h3>
                                    <figure class="date"><i class="fa fa-arrow-right"></i></figure>
                                </a><!-- /.universal-button -->
                            </div><!-- /.col-md-6 -->
                        </div><!-- /.row -->

                        <div class="row" id="resource-types">
                            <div class="col-md-6" style="min-height: 84px;">
                                <a href="#" class="universal-button framed">
                                    <h3>Health care</h3>
                                    <figure class="date"><i class="fa fa-arrow-right"></i></figure>
                                </a><!-- /.universal-button -->
                            </div><!-- /.col-md-6 -->
                            <div class="col-md-6" style="min-height: 84px;">
                                <a href="#" class="universal-button framed">
                                    <h3>Other Service</h3>
                                    <figure class="date"><i class="fa fa-arrow-right"></i></figure>
                                </a><!-- /.universal-button -->
                            </div><!-- /.col-md-6 -->
                        </div><!-- /.row -->

                        <div style="    min-height: 300px;
    padding-top: 20px;">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- vet-content-resoures -->
<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-1729450395995362"
     data-ad-slot="7332534435"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

                        </div>


                        <div class="author-carousel owl-carousel owl-theme" style="display: block; opacity: 1;">
                            <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 2220px; left: 0px; display: block;">
                                <div class="owl-item" style="width: 555px;">
                                    <div class="author">
                                <blockquote>
                                  <!--  <figure class="author-picture"><img src="assets/img/student-testimonial.jpg" alt=""></figure> -->
                                    <article class="paragraph-wrapper">
                                        <div class="inner">
                                            <header>Do you know a great service for veterans? </header>
                                            <footer>Let us know! Contact us at info@hireavet.us</footer>
                                        </div>
                                    </article>
                                </blockquote>
                            </div></div>

                            </div>
                            </div><!-- /.author -->
                            <!-- /.author -->
                        <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div></div></div><!-- /.author-carousel -->

                        <hr>

                        <p>
                            We connect to information supplied by many amazing organizations. If you would like
                            to contribute any related content to our veterans reach out to us. info@hireavet.us
                             </p>
                    </div><!-- /.section-content -->
                </section><!-- /.main-content -->
            </div><!-- /.col-md-6 -->

            <div class="col-md-3" style="min-height: 1045px;">
                <section class="news-small" id="news-small">
                    <header>
                        <h2>News</h2>
                    </header>
                    <div class="section-content">
                        <script src="https://feeds.feedburner.com/VeteransNewsNow_1?format=sigpro" type="text/javascript" ></script><noscript><p>Subscribe to RSS headline updates from: <a href="http://feeds.feedburner.com/VeteransNewsNow_1"></a><br/>Powered by FeedBurner</p> </noscript>

                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ads-hav -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1729450395995362"
     data-ad-slot="8446327639"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

                        <!--
                        <article>
                            <figure class="date"><i class="fa fa-file-o"></i>08-24-2014</figure>
                            <header><a href="#">U-M School of Public Health, Detroit partners aim to improve air quality in the city</a></header>
                        </article><!-- /article
                        <article>
                            <figure class="date"><i class="fa fa-file-o"></i>08-24-2014</figure>
                            <header><a href="#">At 50, Center for the Education of Women celebrates a wider mission</a></header>
                        </article><!-- /article
                        <article>
                            <figure class="date"><i class="fa fa-file-o"></i>08-24-2014</figure>
                            <header><a href="#">Three U-Michigan scientists receive Sloan fellowships</a></header>
                        </article><!-- /article -->
                    </div><!-- /.section-content -->
                    <a href="#" class="read-more">All News</a>
                </section><!-- /.news-small -->
            </div><!-- /.col-md-3 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Content -->
</div>



<!-- Footer -->
<footer id="page-footer">
    <section id="footer-top">
        <div class="container">
            <div class="footer-inner">
                <div class="footer-social">
                    <figure>Follow us:</figure>
                    <div class="icons">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                    </div><!-- /.icons -->
                </div><!-- /.social -->
                <div class="search pull-right">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-btn">
                        <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                    </span>
                    </div><!-- /input-group -->
                </div><!-- /.pull-right -->
            </div><!-- /.footer-inner -->
        </div><!-- /.container -->
    </section><!-- /#footer-top -->

    <section id="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <aside class="logo">
                         <a href="/"><img src="{{ request.board.logo_url }}" style="width:250px;" alt="{{request.board.name}}"></a>
                   </aside>
                </div><!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-4">
                    <aside>
                        <header><h4>Contact Us</h4></header>
                        <address>
                            <strong>HireAVet.us</strong>
                            <br>
                            <span></span>
                            <br><br>
                            <span>Dry Fork, VA 24549</span>
                            <br>
                            <abbr title="Telephone">Telephone:</abbr> +1 (434) 421-4611
                            <br>
                            <abbr title="Email">Email:</abbr> <a href="#">info@hireavet.us</a>
                        </address>
                    </aside>
                </div><!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-4">
                    <aside>
                        <header><h4>Company Info</h4></header>
                        <ul class="list-links">
                            <li><a href="#">Who We Are</a></li>
                            <li><a href="#">What We Do</a></li>
                            <li><a href="#">Our Mission</a></li>
                            <li><a href="#">How we Do It</a></li>
                            <li><a href="/contact/">Contact Us</a></li>
                            <li><a href="/resources/">Resources</a></li>
                        </ul>
                    </aside>
                </div><!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-4">
                    <aside>
                        <header><h4>About HireAVet.us</h4></header>
                        <p>
                            We believe in our country, our families and in those who have helped
                            us protect them. We love our veterans. We want to see them grow not
                            just in uniform but in the civilian world where their
                            dedication, and traing can be put to good use. Our vets are the
                            best candidates.
                        </p>
                        <div>
                            <a href="#" class="read-more">All News</a>
                        </div>
                    </aside>
                </div><!-- /.col-md-3 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
        <div class="background"><img src="https://i.imgur.com/Eh1dOph.png" class="" alt=""></div>
    </section><!-- /#footer-content -->

    <section id="footer-bottom">
        <div class="container">
            <div class="footer-inner">
                <div class="copyright">© HireAVet.us, All rights reserved</div><!-- /.copyright -->
            </div><!-- /.footer-inner -->
        </div><!-- /.container -->
    </section><!-- /#footer-bottom -->

</footer>
<!-- end Footer -->

</div>
<!-- end Wrapper -->

<script type="text/javascript" src="https://s3.amazonaws.com/hireavet/universo/assets/js/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/hireavet/universo/assets/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/hireavet/universo/assets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/hireavet/universo/assets/js/selectize.min.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/hireavet/universo/assets/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/hireavet/universo/assets/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/hireavet/universo/assets/js/jquery.placeholder.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/hireavet/universo/assets/js/jQuery.equalHeights.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/hireavet/universo/assets/js/icheck.min.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/hireavet/universo/assets/js/jquery.vanillabox-0.1.5.min.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/hireavet/universo/assets/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/hireavet/universo/assets/js/retina-1.1.0.min.js"></script>

<script type="text/javascript" src="https://s3.amazonaws.com/hireavet/universo/assets/js/custom.js"></script>

<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us7.list-manage.com","uuid":"d61b6fc6c474bcd9441f4ea64","lid":"a886765bb8"}) })</script>


<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-1729450395995362",
    enable_page_level_ads: true
  });
</script>


</body>
</html>